/*
    The stylesheet for the main website.

    Author: Ivan Jaramillo
    Date: November 16, 2020
*/

html {
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
}

.navigation-bar {
    background-color: black;
    overflow: hidden;
}

.navigation-bar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

.navigation-bar a:hover {
    background-color: white;
    color: black;
}

.line-break {
    display: block;
    width: 50vw;
    height: 1vh;
    background: white;
    margin: 20px auto;
}

.game-image {
    background-image: url("img/title.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
