/*
    The stylesheet for the main website.

    Author: Ivan Jaramillo
    Date: November 16, 2020
*/

html {
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
}

.navigation-bar {
    background-color: black;
    overflow: hidden;
}

.navigation-bar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

.navigation-bar a:hover {
    background-color: white;
    color: black;
}

.line-break {
    display: block;
    width: 100vw;
    height: 1vh;
    background: white;
}

.game-image {
    background-image: url("../img/title.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.game-description {
    color: white;
    text-align: center;
}

.game-reason {
    color: white;
    text-align: center;
}

.team {
    color: white;
}