/*
    The stylesheet for the main website.

    Author: Ivan Jaramillo
    Date: November 16, 2020
*/

body {
    background-color: black;
}

.navigation-bar {
    background-color: black;
    overflow: hidden;
}

.navigation-bar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

.navigation-bar a:hover {
    background-color: white;
    color: black;
}

.line-break {
    display: block;
    width: 50vw;
    height: 1vh;
    background: white;
    margin: 20px auto;
}

